@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@font-face {
  font-family: 'poppins-medium'; /* Asigna un nombre a tu fuente */
  src: url('/font/poppins-medium.ttf') format('truetype'); /* URL a tu archivo .ttf */
  font-weight: normal;
  font-style: normal;
}